{% extends 'layouts/base.html' %}
{% load static %}
{% block titulo %}Usuarios{% endblock %}
{% block miga %}
    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
{% endblock %}

{% block cuerpo %}

    <a href="{% url 'agregar_productos' %}" class="btn btn-success mb-3">Agregar Producto</a>
    {% if dato %}
        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover table-bordered text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cuenta</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in dato %}
                    <tr>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido }}</td>
                        <td>{{ usuario.get_cuenta_display }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td>
                            <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'facturas_usuario' usuario.id %}" class="btn btn-secondary btn-sm">ver Factura</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning text-center" role="alert">
            No hay usuarios registrados aún.
        </div>
    {% endif %}

{% endblock %}

